$background-color: black;
$circuit-color: #444;
$circuit-width: 5;
$font-family: sans-serif;
$font-size: 16px;

body{
    background-color: $background-color;
    font-family: $font-family;
    font-size: $font-size;
}