$circle-radius: 7.5px;
.position {
    font-size: 2rem;
    width: 100%;
    color: $one-color;
}


.circle{
    width: 2 * $circle-radius;
    height: 2* $circle-radius;
    display: inline-block;
    margin-right: 0.25 *$circle-radius;
    border-radius: 50%;
    background-color: $one-color;
}

.circle.two{
    background-color: blue;
}

.wins,.snd,.thd{
    width: 100%;
    margin-top: $circle-radius;
    
}

#wrap-stats{
        position: absolute;
        top: 0;
        z-index: 3;
        cursor:all-scroll;
        float: left; 
        white-space: nowrap;

}

#stats{
    margin-top: $default-padding;
    position: relative;
}

.circles{
    height: 2 * $circle-radius;
    line-height: 2 * $circle-radius;
}
.stat{
    display: inline-block;
    box-sizing: border-box;
    padding: $default-padding;
    .title{
        font-size: 1.25rem;
        color: #9a9a9a;
        margin-bottom: $default-padding;
        margin-top: $default-padding;
    }
    
    .one{
        color: $one-color;
    }
}

.medal{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3rem;
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border: 5px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    
}
.medal[position="1"]{
    background-color: gold;
    border: 5px solid darken(#be8300, 15%);
}