$timeline-bck: #0B0B0B;
#timeline {
    height: 50vh;
    background-color: $timeline-bck;
    box-shadow: inset 0 0 10px black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    .year {
        height: 100%;
        width: 500px;
        border-right: 1px dashed lighten($timeline-bck, 10%);
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        .head {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 3em;
            font-weight: 100;
            background-color: transparent;
            color: lighten($timeline-bck, 35%);
        }
    }
    #wrap_timeline {
        position: relative;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        cursor:all-scroll;
    }
}

#wrapperSVG {
    position: absolute;

}

#timelineNav {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    margin-top: 15px;
    background-color: $timeline-bck;
    position: relative;
    .year {
        position: relative;
        text-align: center;
        line-height: 35px;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        /* Chrome/Safari */
        
        -moz-user-select: none;
        /* Firefox */
        
        -ms-user-select: none;
        /* IE10+ */
        
        z-index: 1;
        /* Rules below not implemented in browsers yet */
        
        -o-user-select: none;
        user-select: none;
        
    }
    #selector {
        position: absolute;
        height: 45px;
        width: 300px;
        top: -5px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 2;
        box-sizing: border-box;
        border: 1px solid lighten($timeline-bck, 35%);
        cursor: pointer;
    }
}

.team {
    fill-opacity: 0.35;
}

.bar {
    fill: #006ff0;
}

.driver {
    fill-opacity: 1;
}

.event{
    fill: #960505;
}

.eventText{
    text-anchor: start;
    fill: #960505;
}

.axisText{
    text-anchor: start;
    fill: lighten($timeline-bck, 35%);
}

.circle{
    stroke-opacity: 1;
    fill: #006ff0;
}

.trendline{
    stroke: #006ff0;
    stroke-dasharray: 5,5;
    fill-opacity: 0;
}

.tooltip{
    position: absolute;
    background-color: white;
    z-index: 10;
}

