$timeline-bck: #0B0B0B;
#timeline {
    height: 50vh;
    background-color: $timeline-bck;
    box-shadow: inset 0 0 10px black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    .year {
        height: 100%;
        width: 500px;
        border-right: 1px dashed lighten($timeline-bck, 10%);
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        .head {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 3em;
            font-weight: 100;
            background-color: transparent;
            color: lighten($timeline-bck, 35%);
        }
    }
    #wrap_timeline {
        position: relative;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        cursor:all-scroll;
    }
}

#wrapperSVG {
    position: absolute;

}



.team {
    fill-opacity: 0.35;
}

.bar {
    fill: #006ff0;
}

.driver {
    fill-opacity: 1;
}

.event{
    fill: #960505;
}

.eventText{
    text-anchor: start;
    fill: #960505;
}

.axisText{
    text-anchor: start;
    fill: lighten($timeline-bck, 35%);
}

.circle{
    stroke-opacity: 1;
    fill: #006ff0;
}

.trendline{
    stroke: #006ff0;
    stroke-dasharray: 5,5;
    fill-opacity: 0;
}

.tooltip{
    position: absolute;
    background-color: white;
    z-index: 10;
}

.changedriver{
    padding: 6px;
    background-color: #0B0B0B;
    border-radius: 6px;
    width: 100px;
    margin: 12px;
    float:left;
    cursor: pointer;
    transition: all 0.5s;
}

.changeDriver:hover{
    background-color: lighten($timeline-bck, 5%);
}
