$timeline-bck: #0B0B0B;
#timeline {
    height: 35vh;
    background-color: $timeline-bck;
    box-shadow: inset 0 0 10px black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: block;
    .year {
        height: 100%;
        width: 20vw;
        border-right: 1px dashed lighten($timeline-bck, 10%);
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        .head {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 3em;
            font-weight: 100;
            background-color: transparent;
            color: lighten($timeline-bck, 35%);
        }
    }
    #wrap_timeline {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        cursor:all-scroll;
    }
}



#wrapperSVG {
    position: absolute;
    z-index: 4;
    cursor:all-scroll;

}

#wrapperSVGMINI {
  position: absolute;
  z-index: 2;
  cursor:all-scroll;

}

#miniTimeline {
  position: absolute;
  z-index: 2;
  cursor:all-scroll;

}



.team {
    fill-opacity: 0.35;
    pointer-events: all;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
}

.team:hover{
    fill-opacity: 0.7;
}


.bar {
    fill: #006ff0;
}

.bar:hover{
    fill: red;
}

.driver {
    fill-opacity: 1;
}

.event{
    fill: #960505;
}

.eventText{
    text-anchor: start;
    fill: #960505;
}

.axisText{
    text-anchor: start;
    fill: lighten($timeline-bck, 35%);
}

.circle{
    stroke-opacity: 1;
    fill: $one-color;
}

.trendline{
    stroke: $one-color;
    stroke-dasharray: 5,5;
    fill-opacity: 0;
}

.tooltip{
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    padding: $default-padding;
    background-color: rgba(0,0,0,0.8);
    width: 175px;
    text-align: center;
}

rect.one{
    fill: $one-color;
}

.team{
    fill: #EEE;
}

.team2{
    fill: #777;
}



