#timelineNav {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    margin-top: 15px;
    background-color: $timeline-bck;
    position: relative;
    .year {
        box-sizing: border-box;
        position: relative;
        text-align: center;
        line-height: 35px;
        display: inline-block;
        cursor: pointer;
        border-right: 1px dashed lighten($timeline-bck, 10%);
        -webkit-user-select: none;
        /* Chrome/Safari */
        
        -moz-user-select: none;
        /* Firefox */
        
        -ms-user-select: none;
        /* IE10+ */
        
        z-index: 3;
        /* Rules below not implemented in browsers yet */
        
        -o-user-select: none;
        user-select: none;
    }

  .year2 {
    position: absolute;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    cursor: pointer;
    color: #006ff0;
    -webkit-user-select: none;
    /* Chrome/Safari */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* IE10+ */

    z-index: 4;
    /* Rules below not implemented in browsers yet */

    -o-user-select: none;
    user-select: none;


  }

    #selector {
        position: absolute;
        height: 35px;
        width: 300px;
        top: 0;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 4;
        box-sizing: border-box;
        transition: background-color 0.5s;
        cursor: pointer;
    }
    #selector:hover {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 5px lighten($timeline-bck, 35%);
    }
    #selector:before {
        content: '';
        width: 25px;
        height: 100%;
        display: block;
        background-position: center;
        background-image: url(../img/navigation/left.png);
        float: left;
    }
    #selector:after {
        content: '';
        width: 25px;
        height: 100%;
        display: block;
        background-position: center;
        background-image: url(../img/navigation/right.png);
        float: right;
    }
}