body {
  background-color: #111;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  position: relative;
  overflow: hidden; }

#wrapper {
  width: 100%;
  margin-top: 15px;
  position: relative; }

#title {
  width: 100%;
  display: block;
  z-index: -1; }
  #title .name {
    font-size: 3vw;
    font-weight: 300;
    box-sizing: border-box;
    padding: 6px;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    color: #006ff0; }
  #title .name:nth-child(2) {
    text-align: right;
    color: #9a0303; }
  #title .picture {
    border-radius: 50%; }

#loader {
  background-color: #111;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

#timeline {
  height: 35vh;
  background-color: #0B0B0B;
  box-shadow: inset 0 0 10px black;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: block; }
  #timeline .year {
    height: 100%;
    width: 20vw;
    border-right: 1px dashed #252525;
    display: inline-block;
    position: relative;
    box-sizing: border-box; }
    #timeline .year .head {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 3em;
      font-weight: 100;
      background-color: transparent;
      color: #646464; }
  #timeline #wrap_timeline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: all-scroll; }

#wrapperSVG {
  position: absolute;
  z-index: 4;
  cursor: all-scroll; }

#wrapperSVGMINI {
  position: absolute;
  z-index: 2;
  cursor: all-scroll; }

#miniTimeline {
  position: absolute;
  z-index: 2;
  cursor: all-scroll; }

.team {
  fill-opacity: 0.35;
  pointer-events: all;
  position: relative;
  cursor: pointer;
  transition: all 0.2s; }

.team:hover {
  fill-opacity: 0.7; }

.bar {
  fill: #006ff0; }

.bar:hover {
  fill: red; }

.driver {
  fill-opacity: 1; }

.event {
  fill: #960505; }

.eventText {
  text-anchor: start;
  fill: #960505; }

.axisText {
  text-anchor: start;
  fill: #646464; }

.circle1 {
  stroke-opacity: 1;
  fill: #006ff0; }

.trendline1 {
  stroke: #006ff0;
  stroke-dasharray: 5,5;
  fill-opacity: 0; }

.circle2 {
  stroke-opacity: 1;
  fill: #ff0000; }

.trendline2 {
  stroke: #ff0000;
  stroke-dasharray: 5,5;
  fill-opacity: 0; }

.tooltip {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 175px;
  text-align: center;
  transition: all 0.5s; }

rect.one {
  fill: #006ff0;
  fill-opacity: 0.7; }

rect.two {
  fill: #ff0000;
  fill-opacity: 0.7; }

.team {
  fill: #EEE;
  transition: all 0.4s ease; }

.team:hover, .team2:hover {
  fill: white; }

.team2 {
  fill: #777;
  transition: all 0.4s ease; }

#timelineNav {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  margin-top: 15px;
  background-color: #0B0B0B;
  position: relative; }
  #timelineNav .year {
    position: relative;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    z-index: 3;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none; }
  #timelineNav .year2 {
    position: absolute;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    cursor: pointer;
    color: #006ff0;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    z-index: 4;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none; }
  #timelineNav #selector {
    position: absolute;
    height: 35px;
    width: 300px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 4;
    box-sizing: border-box;
    transition: background-color 0.5s;
    cursor: pointer; }
  #timelineNav #selector:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px #646464; }
  #timelineNav #selector:before {
    content: '';
    width: 25px;
    height: 100%;
    display: block;
    background-position: center;
    background-image: url(../img/navigation/left.png);
    float: left; }
  #timelineNav #selector:after {
    content: '';
    width: 25px;
    height: 100%;
    display: block;
    background-position: center;
    background-image: url(../img/navigation/right.png);
    float: right; }

.position {
  font-size: 2rem;
  width: 100%;
  color: #006ff0; }

.circle {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 1.875px;
  border-radius: 50%;
  background-color: #006ff0; }

.circle.two {
  background-color: blue; }

.wins,
.snd,
.thd {
  width: 100%;
  margin-top: 7.5px; }

#wrap-stats {
  position: absolute;
  top: 0;
  z-index: 3;
  cursor: all-scroll;
  float: left;
  white-space: nowrap;
  overflow-x: hidden; }

#stats {
  margin-top: 12px;
  position: relative; }

.circles {
  height: 15px;
  line-height: 15px; }

.stat {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px; }
  .stat .title {
    font-size: 1.25rem;
    color: #9a9a9a;
    margin-bottom: 12px;
    margin-top: 12px; }
  .stat .one {
    color: #006ff0; }

.medal {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid black;
  border-radius: 50%;
  box-sizing: border-box; }

.medal[position="1"] {
  background: #f1e767;
  background: -moz-linear-gradient(-45deg, #f1e767 0%, #f1e767 21%, #fcee58 41%, #fff9a8 60%, #f1e867 77%, #f1e867 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #f1e767), color-stop(21%, #f1e767), color-stop(41%, #fcee58), color-stop(60%, #fff9a8), color-stop(77%, #f1e867), color-stop(100%, #f1e867));
  background: -webkit-linear-gradient(-45deg, #f1e767 0%, #f1e767 21%, #fcee58 41%, #fff9a8 60%, #f1e867 77%, #f1e867 100%);
  background: -o-linear-gradient(-45deg, #f1e767 0%, #f1e767 21%, #fcee58 41%, #fff9a8 60%, #f1e867 77%, #f1e867 100%);
  background: -ms-linear-gradient(-45deg, #f1e767 0%, #f1e767 21%, #fcee58 41%, #fff9a8 60%, #f1e867 77%, #f1e867 100%);
  background: linear-gradient(135deg, #f1e767 0%, #f1e767 21%, #fcee58 41%, #fff9a8 60%, #f1e867 77%, #f1e867 100%);
  border: 5px solid #ffbd63; }

.medal[position="2"] {
  background: #e2e2e2;
  background: -moz-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -o-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -ms-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: linear-gradient(135deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  border: 5px solid #bbb; }

.medal[position="3"] {
  background: #cd7f32;
  background: -moz-linear-gradient(-45deg, #cd7f32 0%, #f2ad6d 50%, #e69b55 51%, #fefefe 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #cd7f32), color-stop(50%, #f2ad6d), color-stop(51%, #e69b55), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(-45deg, #cd7f32 0%, #f2ad6d 50%, #e69b55 51%, #fefefe 100%);
  background: -o-linear-gradient(-45deg, #cd7f32 0%, #f2ad6d 50%, #e69b55 51%, #fefefe 100%);
  background: -ms-linear-gradient(-45deg, #cd7f32 0%, #f2ad6d 50%, #e69b55 51%, #fefefe 100%);
  background: linear-gradient(135deg, #cd7f32 0%, #f2ad6d 50%, #e69b55 51%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd7f32', endColorstr='#fefefe', GradientType=1 );
  border: 5px solid #cd7f32; }

/*# sourceMappingURL=main.css.map */
