<div class="position">
    <div class="one">
        <%=driver1.position %>
    </div>
    <div class="two">
        <%=driver2.position %>
    </div>
</div>
<div class="wins one">
    <% for(var i=0 ; i < driver1.wins; i++){%>
        <div class="circle one"></div>
        <% } %>
</div>
<div class="wins two">
    <% for(var i=0 ; i < driver2.wins; i++){%>
        <div class="circle two"></div>
        <% } %>
</div>
<div class="snd one">
    <% for(var i=0 ; i < driver1.second; i++){%>
        <div class="circle one"></div>
        <% } %>
</div>
<div class="snd two">
    <% for(var i=0 ; i < driver2.second; i++){%>
        <div class="circle two"></div>
        <% } %>
</div>
<div class="thd one">
    <% for(var i=0 ; i < driver1.third; i++){%>
        <div class="circle one"></div>
        <% } %>
</div>
<div class="thd two">
    <% for(var i=0 ; i < driver2.third; i++){%>
        <div class="circle two"></div>
        <% } %>
</div>