<div class="position">
    <div class="medal one" position="<%= driver1.position %>">
        <%=driver1.position %>
    </div>
</div>
<div class="wins one">
   <div class="title">First</div>
   <div class="circles">
    <% for(var i=0 ; i < driver1.wins; i++){%>
        <div class="circle one"></div>
        <% } %>
        </div>
</div>

<div class="snd one">
   <div class="title">Second</div>
   <div class="circles">
    <% for(var i=0 ; i < driver1.snd; i++){%>
        <div class="circle one"></div>
        <% } %>
        </div>
</div>

<div class="thd one">
   <div class="title">third</div>
   <div class="circles">
    <% for(var i=0 ; i < driver1.thd; i++){%>
        <div class="circle one"></div>
        <% } %>
        </div>
</div>